
*{

}

.pageHeader{
  padding: 1%;
  padding-left: 20%;
  background-color:#003355;
  color: white;
}
.pageHeaderSmall{
    padding: 1%;
    background-color:#003355;
    color: white;
}
.totHits{
  background-color:#CD5C5C;
  padding: 2%;
  color:white;
  text-align: center;
  height:180px
}
.topPanel{
  background-color:#96D38C;
  padding: 2%;
  color:white;
  text-align: center;
  height:180px;
}
.timePanel{
  background-color:#04536C;
  padding: 2%;
  color:white;
  text-align: center;
  height:180px;
}


.topHitLink{
  color:white;
}
.topHits{
  background-color: white;
  text-align: center;
  color:black;
}
.liveStatusPanel{
  background-color: #222831;
  padding: 2%;
}
.tablePanel{
  background-color: #31588A;
}
.tableInside{
  background-color:#EEEEEE;
}
